@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QuickBooks.Net</h1>
    <p class="lead">QuickBooks API wrapper for .NET</p>
    <p><a href="https://github.com/IvAlex1986/QuickBooks.Net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Getting started
        </h2>
        <p>
            Authorize application in QuckBooks
        </p>
        <p>
            <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.2.js"></script>
            <script type="text/javascript">
                intuit.ipp.anywhere.setup({
                    grantUrl: '@Url.Action("RequestToken", "OAuth", null, "http")',
                    datasources: {
                        quickbooks: true
                    }
                });
            </script>
            <ipp:connecttointuit></ipp:connecttointuit>
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            Samples
        </h2>
        <p>
            QuickBooks work samples
        </p>
        <p>
            @Html.ActionLink("Find All Customers", "FindAllCustomers", "SampleApi")
        </p>
        <p>
            @Html.ActionLink("Find All Employees", "FindAllEmployees", "SampleApi")
        </p>
        <p>
            @Html.ActionLink("Find All Items", "FindAllItems", "SampleApi")
        </p>
        <p>
            @Html.ActionLink("Find All TimeActivities", "FindAllTimeActivities", "SampleApi")
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            Disconnect/Reconnect
        </h2>
        <p>
            QuickBooks Disconnect/Reconnect samples
        </p>
        <p>
            @Html.ActionLink("Disconnect Token", "DisconnectToken", "SampleReconnect")
        </p>
        <p>
            @Html.ActionLink("Reconnect Token", "ReconnectToken", "SampleReconnect")
        </p>
    </div>
</div>