@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QuickBooks.Net</h1>
    <p class="lead">QuickBooks API wrapper for .NET</p>
    <p><a href="https://github.com/IvAlex1986/QuickBooks.Net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Authorize application in QuckBooks
        </p>
        <p>
            <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.2.js"></script>
            <script type="text/javascript">
                intuit.ipp.anywhere.setup({
                    grantUrl: '@Url.Action("RequestToken", "OAuth", null, "http")',
                    datasources: {
                        quickbooks: true
                    }
                });
            </script>
            <ipp:connecttointuit></ipp:connecttointuit>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Samples</h2>
        <p>
            QuickBooks work samples
        </p>
        <p>
            @Html.ActionLink("Find All Customers", "FindAllCustomers", "Sample")
        </p>
        <p>
            @Html.ActionLink("Find All Employees", "FindAllEmployees", "Sample")
        </p>
        <p>
            @Html.ActionLink("Find All Items", "FindAllItems", "Sample")
        </p>
        <p>
            @Html.ActionLink("Find All TimeActivities", "FindAllTimeActivities", "Sample")
        </p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>